<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.vlkan.log4j2.logstash.layout,io.prometheus.client.log4j2">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json" stackTraceEnabled="true"/>
        </Console>
        <Prometheus name="metrics"/>

        <RollingFile name="secureLog" fileName="/secure-logs/secure.log" filepattern="/secure-logs/secure.log.%i">
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json" stackTraceEnabled="true"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="tjenestekall" level="trace" additivity="false">
            <AppenderRef ref="secureLog"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="metrics"/>
        </Root>
    </Loggers>
</Configuration>